.contaier {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.task {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.interface {
  display: flex;
  gap: 60px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  gap: 10px;
}

.tankSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.health {
  font-size: 32px;
  font-weight: 700;
}
