.wordMap {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 1.5em;
}

.char {
  width: 1ch;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  flex-shrink: 0;
}
