.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 30px;
  width: 100%;
  background-color: var(--color-background);
  border-radius: 15px;
}
