:root {
  --color-primary: hsl(30, 100%, 50%);
  --color-primary-hover: hsl(30, 100%, 60%);
  --color-text: hsl(0, 0%, 0%);
  --color-contrast: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 100%);
  --color-background-hover: hsl(0, 0%, 90%);
  --color-yellow: hsl(40, 100%, 50%);
  --color-light-green: hsl(90, 30%, 80%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  &:disabled {
    cursor: default;
  }
}
