.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}

.coins {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}

.coinIcon {
  color: var(--color-yellow);
}
