.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.subtite {
  font-size: 18px;
  margin-bottom: 40px;
}

.coinIcon {
  color: var(--color-yellow);
  vertical-align: middle;
  font-size: 28px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}
